# Copy this file to terraform.tfvars and fill in values
project          = "thesis"
environment      = "dev"
gcp_project_id   = "thesis-gcp"
gcp_region       = "europe-west4"
gcp_zone         = "europe-west4-a"
